<!DOCTYPE <!DOCTYPE html>
<html lang="es">
<head>

	<title>TicoBuzz</title>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	
<body>
	<header class="Header">

<!-- Este es el menú principal, va en position fixed y tiene la navegación principal -->
		<nav class="MainMenu">
			<figure class="MainMenu-logoContainer">
				<img src="../static/images/logo.png" alt="Logo oficial" class="MainMenu-logo" />
			</figure>

			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<button class="MainMenu-button">
				+ Crear
			</button>
		</nav>
	</header>

<!-- Aquí van los íconos sociales: el like de Facebook y el follow de Twittter -->
	<section class="SocialBar">
		<p class="SocialBar-text">TicoBuzz - Contenido que todo tico quiere ver y compartir. <span class="ColorFacebook">Facebook (me gusta)</span><span class="ColorTwitter"> Twitter (follow)</span>
		</p>	
	</section>

<!-- Aquí empieza el body del sitio -->
	<section class="Body">
			
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
			<ul class="MainMenu-list">
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Artículos"><span class="Tico">Tico</span>Artículos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#Videos"><span class="Tico">Tico</span>Videos</a>
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#TicoQuizes"><span class="Tico">Tico</span>Quizes</a>	
				</li>
				<li class="MainMenu-item">
					<a class="MainMenu-link" href="#QuejeseAqui">Quéjese Aquí</a>	
				</li>
			</ul>
	</section>	

<!-- Aquí empieza el footer, está dentro del Body-->
	<!-- <footer class="Footer"> 
		<p class="Footer-text">
		¡Comparta esto con otros ticos!
		</p>

		<button class=Footer-buttonFacebook>
			Facebook
		</button>

		<button class=Footer-buttonTwitter>
			Twitter
		</button>
	
	</footer> -->

</body>
</html>
